#wrapper{
  width:960px;
  margin: 0 auto 0 auto;
  border: 1px solid #777;
  background-image:url('https://drive.google.com/uc?id=0BwINOJ8hKYKQNVVzYjluQW1KdVE');
  font-size: 16px;
  font-family:Courier New 
  }


